/* blank style sheet */
body {
  font-family: Roboto, Arial;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th {
  padding: 6px 0px;
  text-align: left;
  background-color: rgb(254, 204, 166);
}

td, th {
  border: 1px solid #4d4d4d;
  padding: 8px;
}

.question-title {
  cursor: pointer;
  font-weight: 500;

}

div[class^='question-description'] {
  display: none;
}

.actions {
  display: flex;
}

.add-question-button {
  font-weight: bold;
  margin-top: 10px;
}

dialog {
  width: 80%;
  height: 80%;
  padding: 20px;
  overflow: auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="button"], button[type="submit"] {
  padding: 8px 16px;
  margin-top: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #28a745;
}

button[type="button"]:hover, button[type="submit"]:hover {
  background-color: #0056b3;
}

.actions {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button[class^='edit-button'] {
  width: 100%;
  background-color: gold;
  margin-top: 8px;
  margin-bottom: 8px;
}

button[class^='category-name'] {
  margin-right: 8px;
  margin-bottom: 8px;
}

button[class^='delete-button'] {
  width: 100%;
  background-color: red;
  margin-top: 8px;
  margin-bottom: 8px;
}

button[class^='category-name']:hover {
  background-color: red;
}

#description {
  min-height: 300px;
  overflow: auto;
}

#warning {
  color: red;
}

.title-warning {
  display: none;
}
