:root {
  --primary: #ff8a41;
  --secondary: rgb(130, 255, 213);
  --error: #e7195a;
}

/* shared */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 30px 10px 30px;
}

label, input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.navbar {
  background-color: white;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar a {
  color: #333;
  text-decoration: none;
}

.page {
  background-color: rgba(146, 102, 102, 0.2);
}

.primary-btn {
  background-color: var(--primary);
  border: 0;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  display: block;
}

.small-icons {
  color: rgb(72, 72, 72);
}


/* register page */
.form-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(146, 102, 102, 0.2);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  z-index: 2;
  overflow: scroll;
}

.register-page {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  overflow-y: scroll;
  background-color: rgba(146, 102, 102, 0.2);
}

.register-card {
  width: 30%;
  max-width: 700px;
  min-width: 330px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--primary);
  margin-bottom: 30px;
}

.header h3 {
  color: white;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: var(--primary);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

.btn-container {
  width: 100%;
  margin-bottom: 10px;
}

.error {
  color: var(--error)
}




